@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: Poppins, sans-serif;
}

/* body,
html,
#app {
    background: #f2f2d6;
} */

@media (max-width: 768px) {
    body,
    html,
    #app {
        background: #eeeec8;
    }
}
